

.wrapper .form{
    position: relative;
}

/*{position:absolute;bottom:0;right:0;background:green;width:100px;height:100px;}*/

.wrapper .form .get_data_form{
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    padding: 10px 0px;
}
/*++++++++++++++++++++++++++++++++++++++++++*/
.wrapper .form .buttonDownload{
     position: absolute;
     top:130px;
     left:200px;
     width:20%;
     padding: 10px 25px;

    background-color: #4CC713;
    color: white;

    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    text-indent: 15px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.wrapper .form .get_data_form input{
    position: absolute;
    right: 30px;
    width:10%;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.wrapper .form .buttonDownload:hover {
    background-color: #333;
    color: white;
}
.buttonDownload:before, .buttonDownload:after{
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
}
/* Download box shape  */
.buttonDownload:before{
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
}
.buttonDownload:hover:before {
    border-color: #4CC713;
}
.buttonDownload:hover:after{
    border-top-color: #4CC713;
    animation-play-state: running;
}
/* Download arrow shape */
.buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;

    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;

    animation: downloadArrow 2s linear infinite;
    animation-play-state: paused;
}
/* keyframes for the download icon anim */
@keyframes downloadArrow {
    /* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
    0% {
        margin-top: -7px;
        opacity: 1;
    }

    0.001% {
        margin-top: -15px;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        margin-top: 0;
        opacity: 0;
    }
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


.image_view{
    display: block;
}

.dowloaded_image{
    width: auto;
    height: auto;
    max-height: 150px
}
