#ud-buttons { 
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
}

.ud-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 
}
.ud-button img {
    height: 20vmin;
}