
/*https://stackoverflow.com/questions/42287563/vertically-align-h1-in-header*/

.header img {
  float: left;

  display: inline-block;
  margin-top: -11px;
  margin-left: 3%;

  width: 200px;
  height: 200px;
  background: #555;
}

.header h1 {
    display: inline;

    position: relative;
    top: 2px;
    left: 20%;

    font-size: 40px;

  /*padding: 20px 20px 0 0;*/
}






