
.upload_area{
    margin-top: 20%;
    margin-left: 40px;
    margin-right: 40px;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.image_field{
    margin-top: 2%;
    margin-left: 30%;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.upload_area label, .upload_area button {
  background-color: #7F9CCB;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 0.8rem;
  height: auto;
}

.upload_area label:hover, .upload_area button:hover {
  background-color: #2D5BA3;
  color: white;
}

.upload_area label:active, .upload_area button:active {
  background-color: #0D3F8F;
  color: white;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.preview{
    display: inline-block;
    width: 100%;
    position: relative;
    vertical-align: middle;
    /*margin-left: auto;
    margin-right: auto;

    padding-left: 10%;*/
}
/*width: 40%;*/
.preview_image{
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    /*margin:0 auto;*/

    /*position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 40%;*/
    /*padding-left: 10%;*/

}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Hide the file input using opacity */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
[type=file] {
    /*position: absolute;*/
    filter: alpha(opacity=0);
    opacity: 0;
}

.form .upload_area input,
[type=file] + .form .upload_area label {
  border: 1px solid #CCC;
  border-radius: 3px;
  text-align: left;
  /*padding: 10px;
  width: 150px;
  margin: 0;
  left: 0;*/

  /*position: relative;*/
}

[type=file] + .form .upload_area label {
  text-align: center;
  left: 7.35em;
  top: 0.5em;


  /* Decorative */
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

[type=file] + .form .upload_area label:hover {
  background: #3399ff;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/



/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
            /*Image Animation*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#preview_image {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#preview_image:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
