{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Diabetic Neuropathy Monitorization</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/base_generic.css' %}">
</head>
<body>
    
    
    <div id="container">
        <section id="header">
            <h1 class="title">Diabetic Neuropathy Monitorization</h1>
        </section>
        <section id="sidebar">
            
            <img src="{% static 'images/logo.png' %}" alt="Diabetic Logo">
            <h3 class="subtitle is-3" align="center">Diabetic Ulcer Management System</h3>
            
            <ul>
                <li><i class="fa fa-road"></i> 22 Something st</li>
                <li><i class="fa fa-phone"></i> (555) 555-5555</li>
                <li><i class="fa fa-envelope"></i> dfu@gmail.com</li>
            </ul>
            
            <div class="buttons">
                <button class="button" onclick="location.href='{% url 'logout' %}'">Logout</button>
                <button class="button" type="submit">Account Settings</button>
            </div>
        </section>
        
        <section id="navbar">
            <nav class="navbar">
                <div class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="{% url 'welcome'%}">Home</a>
                        <a class="navbar-item" href="{% url 'entryForm' %}">New Entry</a>
                        <a class="navbar-item" href="{% url 'formData'%}">Update Entry</a>
                        <a class="navbar-item" href="{% url 'imageData' %}">Image Data</a>
                        <a class="navbar-item" href="{% url 'welcome' %}">Image Handling</a>
                    </div>
                    <div class="navbar-end">
                        <a class="navbar-item" href="{% url 'welcome' %}">Analysis</a>
                        <a class="navbar-item" href="{% url 'about' %}">About</a>
                    </div>
                </div>
                
                
            </nav>
        </section>
        <section id="content">
            {% block content %}{% endblock %}
        </section>
    </div>
</div>
</div>
</body>
</html>
