{% extends "base_generic.html" %}


{% block content %}
<div style="margin-left:25%;margin-top: 5%;padding:1px 50px;">
      <div class="wrapper">
            <h2>Patient Data</h2>
            <br/>
            
            <form class="ui form" action="/post_create/" method="post">
                  {% csrf_token %}
                  
                  <div class="field">
                        <label for="patient_id">Patient ID</label>
                        <!-- <input type="text" name="patient_id" id="patient_id" value="Auto Assign" required> -->
                        <input type="text" name="patient_id" id="patient_id" required>
                  </div>
                  <div class="field">
                        <label for="fullname">Full Name</label>
                        <!-- <input type="text" name="fullname" id="fullname" value="Full Name"> -->
                        <input type="text" name="fullname" id="fullname">
                  </div>
                  <div class="field">
                        <label for="email">Email Address</label>
                        <input type="email" name="email" id="email" placeholder="john@gmail.com">
                  </div>
                  <div class="field">
                        <label for="address">Address</label>
                        <input type="text" name="address" id="address">
                  </div>
                  <div class="field">
                        <label for="age">Age</label>
                        <input type="number" name="age" id="age">
                  </div>
                  <div class="field">
                        <label for="dateofbirthvisit">Date of Birth</label>
                        <input type="date" name="dob" id="dateofbirthvisit">
                  </div>
                  <div class="field">
                        <label for="phone">Contact Number</label>
                        <input type="tel" name="phone" id="phone" value="0772202200">
                  </div>
                  <div class="field">
                        <label for="dateoffirstvisit">Date of First Visit</label>
                        <input type="date" name="dateoffirstvisit" id="dateoffirstvisit">
                  </div>
                  
                  <br/>
                  <h3>Medical Data</h3>
                  <br/>
                  <!-- Medical Data -->
                  
                  <div class="field">
                        <label for="height">Height</label>
                        <input type="number" name="height" id="height">
                  </div>
                  <div class="field">
                        <label for="weight">Weight</label>
                        <input type="number" name="weight" id="weight">
                  </div>
                  <div class="field">
                        <label for="bmi">BMI</label>
                        <input type="number" name="bmi" id="bmi">
                  </div>
                  <div class="field">
                        <label for="dateoflastvisit">Date of Last Visit</label>
                        <input type="date" name="dateoflastvisit" id="dateoflastvisit">
                  </div>
                  <div class="field full">
                        <label for="medicalhistory">Medical History</label>
                        <textarea name="medicalhistory" rows="5" id="medicalhistory"></textarea>
                  </div>
                  
                  
                  <br/>
                  <br/>
                  <br/>
                  <h3>Diabetic Related Data</h3>
                  <br/>
                  
                  <!-- Diabetic Specific Data -->
                  <div class="field">
                        <label for="diabetictype">Diabetic Type</label>
                        <input type="text" name="diabetictype" id="diabetictype">
                  </div>
                  <div class="field">
                        <label for="dateofidentification">Date of Identification</label>
                        <input type="date" name="dateofidentification" id="dateofidentification">
                  </div>
                  <div class="field">
                        <label for="dfucondition">DFU Condition</label>
                        <input type="text" name="dfucondition" id="dfucondition">
                  </div>
                  
                  <br/>
                  <button class="ui button" type="submit">Submit</button>
  
            </form>
            
            
      </div>
</div>
{% endblock %}
