<div class="field">
        <label class="label" for="patient_id">Patient ID</label>
        <!-- <input class="input" type="text" name="patient_id" id="patient_id" value="Auto Assign" required> -->
        <div class="control">
              <input class="input" type="text" name="patient_id" id="patient_id" value="{{patientId}}" required>
        </div>
  </div>
  <div class="field">
        <label class="label" for="fullname">Full Name</label>
        <!-- <input class="input" type="text" name="fullname" id="fullname" value="Full Name"> -->
        <div class="control">                        
              <input class="input" type="text" name="fullname" id="fullname" value="{{fullName}}">
        </div>
  </div>
  <div class="field">
        <label class="label" for="email">Email Address</label>
        <div class="control">
              <input class="input" type="email" name="email" id="email" placeholder="john@gmail.com" value="{{email}}">
        </div>
  </div>
  <div class="field">
        <label class="label" for="address">Address</label>
        <div class="control">
              <input class="input" type="text" name="address" id="address" value={{address}}>
        </div>
  </div>
  <div class="field">
        <label class="label" for="age">Age</label>
        <div class="control">
              <input class="input" type="number" name="age" id="age" value="{{age}}">
        </div>
  </div>
  <div class="field">
        <label class="label" for="dateofbirthvisit">Date of Birth</label>
        <div class="control">
              <input class="input" type="date" name="dob" id="dateofbirthvisit" value="{{DOB}}">
        </div>
  </div>
  <div class="field">
        <label class="label" for="phone">Contact Number</label>
        <div class="control">
              <input class="input" type="tel" name="phone" id="phone" value="0772202200" value={{phone}}>
        </div>
  </div>
  <div class="field">
        <label class="label" for="dateoffirstvisit">Date of First Visit</label>
        <div class="control">
              <input class="input" type="date" name="dateoffirstvisit" id="dateoffirstvisit" value="{{dateOfFirstVisit}}">
        </div>
  </div>
  
  <h4 class="title is-4">Medical Data</h3>
  <!-- Medical Data -->
  
  <div class="field">
        <label class="label" for="height">Height</label>
        <div class="control">
              <input class="input" type="number" name="height" id="height" value="{{height}}">
        </div>
  </div>
  <div class="field">
        <label class="label" for="weight">Weight</label>
        <div class="control">
              <input class="input" type="number" name="weight" id="weight"value="{{weight}}">
        </div>
  </div>
  <div class="field">
        <label class="label" for="bmi">BMI</label>
        <div class="control">
              <input class="input" type="number" name="bmi" id="bmi" value="{{bmi}}">
        </div>
  </div>
  <div class="field">
        <label class="label" for="dateoflastvisit">Date of Last Visit</label>
        <div class="control">
              <input class="input" type="date" name="dateoflastvisit" id="dateoflastvisit" value="{{dateOfLastVisit}}">
        </div>
  </div>
  <div class="field full">
        <label class="label" for="medicalhistory">Medical History</label>
        <div class="control">
              <textarea class="input" name="medicalhistory" rows="5" id="medicalhistory">{{medicalHistory}}</textarea>
        </div>
  </div>
  
  <h3 class="title is-4">Diabetic Related Data</h3>
  
  <!-- Diabetic Specific Data -->
  <div class="field">
        <label class="label" for="diabetictype">Diabetic Type</label>
        <div class="control">
              <input class="input" type="text" name="diabetictype" id="diabetictype" value="{{diabeticType}}">
        </div>
  </div>
  <div class="field">
        <label class="label" for="dateofidentification">Date of Identification</label>
        <div class="control">
              <input class="input" type="date" name="dateofidentification" id="dateofidentification" value="{{dateOfIdentification}}">
        </div>
  </div>
  <div class="field">
        <label class="label" for="dfucondition">DFU Condition</label>
        <div class="control">
              <input class="input" type="text" name="dfucondition" id="dfucondition" value="{{DFUCondition}}">
        </div>
  </div>