{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/imagedata.css' %}">
<div id="ud-buttons">
    <a class="box ud-button" href="/downloaddata">
        <img src="{% static 'images/download_icon.png' %}">
        <h6 class="title is-6">Download</h6>
    </a>
    <a class="box ud-button" href="/uploaddata">
        <img src="{% static 'images/upload_icon.png' %}">
        <h6 class="title is-6">Upload</h6>
    </a>
</div>
{% endblock %}
