{% extends "base_generic.html" %}
{% load static %}


{% block content %}


    <div>

        <br>
        <h1><b>Home Introduction - What is DFU Project?</b></h1>
            <div>
                <!-- Welcome {{e}} -->
                The project consists with building a feasible foot temperature measurement system to get patients’ images, manage the images and processing the thermal images by using image processing and machine vision methods.
                <br><br>
            </div>

            <dir>
                <img src="{% static 'images/hardwaresystem.png' %}" height="50%" width="50%"align="left">
                <img src="{% static 'images/softwaresystem.png' %}" height="50%" width="50%" align="right">
            </dir>

        <!-- <button type="button" onclick="location.href='{% url 'check' %}'">Check Report</button> -->

        <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--
        {% for time,dat,work in comb_lis %}

            Date: {{dat}} &nbsp;Work: <a href="/post_check/?z={{time}}"  >No variable</a>
            <br>

        {% endfor %} -->


        <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

   <!--  <p>
        Welcome to DFU Monitorization Home Page
    </p> -->

    <br/>
    <dir>
 <!--        <p>
        What is DFU?
        <p>Description</p>
    </p>

    <p>
        What do we need to monitor DFU?
        <p>Description</p>
    </p>

    <p>
        What are our features?
        <p>Description</p>
    </p> -->
    </dir>







    </div>

{% endblock %}
